footer {
  padding-right: 200px;
  padding-left: 200px;

  padding-top: 150px;
  padding-bottom: 70px;
}

/* .inner {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
  border-top: rgba(255, 255, 255, 0.5) solid 2px;

  padding-top: 70px;
} */

/* ul {
  list-style: none;
} */



.row {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  position: relative;
  border-top: 	rgb(103, 155, 142, 0.4) solid 2px;

  padding-top: 100px;
}

.row p {
  color: rgb(103, 155, 142, 0.5);
  margin-top: 0;
  text-align: center;
  font-weight: 500;
  font-size: 0.8rem;
}