@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&family=Roboto+Condensed:wght@400;700&display=swap");

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');


* {
  box-sizing: border-box;
}

html {
  font-family: "Noto Sans KR", sans-serif;
  line-height: 1.5;

  /* color: #ebe7ef; */
  color: rgba(225, 225, 225, 0.9);;
  /* background: radial-gradient(#280a48, #20043d); */
  /* background-image: linear-gradient(to top, #c1dfc4 0%, #deecdd 100%); */
  background-image: linear-gradient(-20deg, #e9defa 0%, #fbfcdb 100%);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  min-height: 80rem;
}

main {
  width: 90%;
  max-width: 50rem;
  margin: auto;
}

#examples {
  margin: 3rem auto;
}

#examples h2 {
  text-align: left;
}

#examples menu {
  margin: 1rem 0;
  padding: 0;
  display: flex;
  gap: 0.5rem;
  list-style: none;
}

#examples menu button {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 50%;
  background-color: transparent;
  /* color: #a18aba; */
  color: #a3c0a6;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

#examples menu button:hover {
  /* background-color: #1b082f; */
  background-color: #8cb3aa;
  /* color: #ebe7ef; */
  color: rgba(225, 225, 225, 0.9);
}

#examples menu button.active {
  /* background-color: #7925d3; */
  background-color: #b1a7c2;
  /* color: #ebe7ef; */
  color: rgba(225, 225, 225, 0.6);
}

#tab-content {
  padding: 2rem;
  border-radius: 15px;
  /* background-color: #2f1d43; */
  background-color: #8cb3aa;
  /* box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3); */
  box-shadow: 0 2px 8px 	rgb(74, 68, 83, 0.4);
}

#tab-content h3 {
  margin: 0;
}

#tab-content code {
  font-size: 1rem;
}
